<div class="container">

  <div class="row justify-content-center">
    <div class="card mb-3" style="width: 100%; margin-top: 50px">
      <div class="card-header">Project name</div>
      <div class="card-header">Header</div>
      <div class="card-body">
        <table class="table table-sm">
          <tbody>
            <tr>
              <td class="bg-warning">Task name</td>
              <td style="width: 15%;">
                <button>Done</button>
                <button>Change</button>
              </td>
              <td style="width: 5%;">2020/20/20</td>
            </tr>

            <tr>
              <td class="bg-success">Task name</td>
              <td style="width: 15%;">


                <button class="extended-fab-button" mat-fab color="primary">
                  <mat-icon>speaker_notes</mat-icon>
                  <span class="extended-fab-button__text">Notes</span>
                </button>


              </td>
              <td style="width: 5%;">2020/20/20</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>
