/** @format */

.container {
  align-items: flex-start;
}

.no-data {
  background: url(../../../../assets/no-data.jpeg) no-repeat center center;
  height: 500px;
  width: auto;
}

card-container {
  position: relative;
}

.card-header button {
  float: right;
}

#add {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  position: -webkit-sticky;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}

/*  */

.done {
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 1%, rgb(183, 230, 193) 99%);
}

.expired {
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 1%, rgb(253, 0, 0) 99%);
}

table {
  width: 100%;
}

.card-size {
  width: 100%;
  margin-top: 50px;
}

td.mat-cell {
  padding: 20px 0;
  border: none;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-position {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
